.subtitle {
  text-align: center;
  margin-top: 100px;
  margin-right: 500px;
  font-size: 30px;
}

.button-container {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: center;
  gap: 80px;
  margin-top: 60px;
}

.prof-stud-button {
  font-size: 33px;
}
