* {
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #7d7373;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  text-decoration: none; /* remove underline */
  color: inherit; /* use of default color */
  transition: color 0.3s ease;
}

.buttonlink {
  color: #7d7373;
  border: none;
}

.buttonlink:hover {
  background-color: #d5302a;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.description {
  text-align: center;
  display: block;
}

.title-container {
  display: flex;
  align-items: center;
  background-color: #f3f2f2;
  height: 80px;
  padding-top: 20px;
  overflow: visible;
  border-radius: 7px;
}
.dotcom {
  font-size: 12px;
}

.buttonlink {
  background-color: #f3f3f3;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.link-hover:hover {
  color: #d5302a;
}

.subtitle {
  text-align: center;
  margin-top: 100px;
  margin-right: 500px;
  font-size: 30px;
}

#maintitle {
  font-size: 50px;
  position: absolute;
  left: 20px;
  transform: translateY(-50%);
}

#utbmlogo {
  position: absolute;
  top: 80px;
  font-size: 16px;
  right: 5px;
}

#contact-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.startnow {
  margin: 50px auto;
  margin-left: 160px;
  width: fit-content;
  font-size: 30px;
}

.back-button {
  width: 80px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}