.subtitle {
  margin: 50px;
}

.form-container {
  margin-top: -12vh;
}

.reg-log-form {
  margin: 0 auto;
  margin-top: 1vh;
  width: 35%;
  padding: 1em;
  border: 3px solid #ffffff;
  border-radius: 40px;
  box-shadow: 0 0 5px #7d7373;
  text-align: center;
  background-color: #f3f2f212;
  color: #7d7373;
}

/*modifier les titres*/

label {
  font-weight: bold;
  display: inline-block;
  width: 200px;
  text-align: left;
  padding: 5px 20px;
}

/*modifier les zones de texte */
input,
textarea {
  width: 45%;
  box-sizing: border-box;
  padding: 12px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #333333;
  transition: border-color 0.4s ease, box-shadow 0,4s ease;
  margin-bottom: 12px;
}

#submit-reg {
  font-family: inherit;
  color: inherit;
  margin-left: 13vw;
}

#submit-reg:hover {
  color: white;
}

