
.ueBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  cursor: pointer;
}

.ueBox img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  object-fit: scale-down;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  align-self: center;
}

.subtitle {
  position: absolute;
  top: 10vh;
  left: 20vw;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.ueGrid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  position: relative;
}

.ueBox {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.separator {
  width: 5px;
  background: #333;
  height: auto;
  position: relative;
  align-self: stretch;
  margin-left: 20px;
}

.recent-posts {
  flex: 1;
  background: #f9f9f9;
  padding: 15px;
  border-left: 2px solid #ccc;
}

.recent-posts-header {
  margin-bottom: 20px;
}

#posts-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
}