body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.postContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 50px auto;
}

.postTitle {
    text-align: center;
    color: #333;
}

.postForm {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.inputField, .textareaField, .fileInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.textareaField {
    height: 100px;
    resize: vertical;
}

.submitButton {
    color: #423E3E;
    background-color: #f3f3f3;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;

}

.submitButton:hover {
    background-color: #d5302a;
    color: white;
}
